<div class="searchBox">
    <input id="searchName" type="search" placeholder="Summoner name">
    <select id="searchRegion">
      <option>BR</option>
      <option>EUNE</option>
      <option>EUW</option>
      <option>JP</option>
      <option>KR</option>
      <option>LAN</option>
      <option>LAS</option>
      <option selected>NA</option>
      <option>OCE</option>
      <option>RU</option>
      <option>TR</option>
    </select>
    <button onclick="search()">search</button>
</div>
