<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Learn2play</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <div class="searchBox">
            <p>search box placeholder</p>
          </div>
        </li>
        <li>about</li>
      </ul>
    </nav>
    {{{body}}}
    <footer>
      <ul>
        <li>sitemap</li>
        <li>riot api agreement</li>
      </ul>
    </footer>
  </body>
</html>
