<!DOCTYPE html>
<html>
  <head>
    {{> headDefaults}}
    <title>Learn2play</title>
  </head>
  <body>
    {{{body}}}

    <script src="/js/index.js" type="text/javascript"></script>
  </body>
</html>
