<h1>About</h1>
<p>Created by: Thomas Herman</p>
<p>contact: <a href="mailto:thomas@tehjr.com">thomas@tehjr.com</a></p>
<p>Source code: <a href="https://github.com/HermantNET/Learn2play">GitHub Repo</a></p>
